<h1>All lists</h1>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col s12 m6">
      <div class="card indigo darken-4">
        <div class="card-content white-text">
          <span class="card-title"><%= list.title %></span>
          <p>Completed : <%= list.completed ? 'Yes' : 'No' %></p>
        </div>
        <div class="card-action">
          <a href="/lists/<%= list.id %>/edit">Edit Me!</a>
        </div>
      </div>
    </div>
  <% end %>
</div>